quine
gen_quine.c
gen_quine
iter_quine
gen_iter_quine.c
gen_iter_quine
tiny_iter_quine
gen_tiny_iter_quine.c
gen_tiny_iter_quine

# TODO: Use tcc for everything, eliminating the need for all the executables in this gitignore.

gen_dual_iter_quine.c
gen_dual_iter_quine.py
gen_py_quine.py
new_gen_py_quine.py
